DirectPackageInstaller/
webMAN-MOD/
.env
.env.*
*.log
MY-google-ID.json
MY-google-ID.*
MY-google-ID/
get-token-and-set-secrets.mjs
node_modules/.cache/
node_modules/
desktop/node_modules/
desktop/src-tauri/gen/
desktop/src-tauri/target/
release-builds/
.npm-cache/
For Vortex-Prime-emu/
store test/
store test.7z
companion-server/.env
companion-server/data/
companion-server/tmp/
