STREAMZ_OAUTH_STATE_SECRET=

STREAMZ_TWITCH_CLIENT_ID=
STREAMZ_TWITCH_REDIRECT_URI=https://vortex-prime-emu.com/projects/streamz/auth/twitch/callback

STREAMZ_KICK_CLIENT_ID=
STREAMZ_KICK_CLIENT_SECRET=
STREAMZ_KICK_REDIRECT_URI=https://vortex-prime-emu.com/projects/streamz/auth/kick/callback

STREAMZ_DEFAULT_DEEP_LINK=streamz://auth/callback
STREAMZ_ALLOWED_DEEP_LINK_SCHEMES=streamz
