STREAMZ_OAUTH_STATE_SECRET=

STREAMZ_TWITCH_CLIENT_ID=
STREAMZ_TWITCH_REDIRECT_URI=https://vortex-prime-emu.com/projects/streamz/auth/twitch/callback

STREAMZ_KICK_CLIENT_ID=
STREAMZ_KICK_CLIENT_SECRET=
STREAMZ_KICK_REDIRECT_URI=https://vortex-prime-emu.com/projects/streamz/auth/kick/callback

STREAMZ_DEFAULT_DEEP_LINK=streamz://auth/callback
STREAMZ_ALLOWED_DEEP_LINK_SCHEMES=streamz

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

DISCORD_APPLICATION_ID=1526084195263447171
DISCORD_PUBLIC_KEY=23a2928f74f18bfa7ce329129f2e46ee14a9662fc6f7170e22ac4e4fa4d8008b
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_VERIFY_CHANNEL_ID=
STREAMZ_OWNER_GOOGLE_SUB=
